@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Aladin');

body {
    background: radial-gradient(at 100% 100%,#b0c472,#e0d99e);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

p {
    max-width: 70ch;
}

li {
    max-width: 55ch;
}

h1 {
    font-family: 'Aclonica', 'Georgia', serif;
    font-size: 44px;
    font-weight: normal;
    width: 650px;
}

h2 {
    font-family: 'Aladin', 'Georgia', serif;
    font-size: 24px;
    font-weight: bold;
    width: 650px;
}